<!DOCTYPE html>
<head id="head">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/aboutme.css') }}">
    <div id="start">
        <h1>About me!</h1>
        <p id="startdesc">A simple guide about your favorite human.</p>
    </div>
</head>
<body>
    <div class="grid-container">

        <div class="grid-child1">
            Who I am
            <p>I am a normal guy called Naitik Verma.
                I have a passion in coding and debating. I really like it when my blood gets flowing, either through a dumb bug or a thrilling debate.</p>
                <img src="{{ url_for('static',filename='images/broll2.png') }}" alt="Learning">        
        </div>
    
        <div class="grid-child2">
            What I do
            <p>In my free time I like the research new things. Learn new things and do new things. This has been a habit of mine since I was very little.</p>
            <img src="{{ url_for('static',filename='images/broll.png') }}" alt="Learning">
        </div>
    </div>
    <div class="end">
        <h1>Projects</h1>
        <p id="enddesc">Over the past 6 years that I have been programming, I have learnt a lot of things and sometimes
             I showcase them in a project.</p>
             <form method="post">
                <input class="project" type="submit" value="Projects" >
            </form>
    </div>
</body>