<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find | LifeZone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/find.css') }}">
    <script src="<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>"></script>
</head>
<body>
  <div class="wrapper">
    
    <div class="row row-1">
      <section>
       
        <div class="details">
          <span class="title">Naitik</span>
          <span>Seeker/Donor</span>
        </div>
       
        <div class="bottom">
          <a href="/join">Notify</a>
        </div>
      </section>
  </div>

</body>
</html>
