.joining{
    justify-content: center;
    align-items: center;
    height: 97vh;
    background-color: #93d6f8;
    padding-top: 50vh;
    padding-left: 80vh;
}

.join{
    padding-top: 50px;
}

.name{
    padding-top: 50px;
}